server:
  port: 8083
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/perfdb
    username: perf
    password: perf
    hikari:
      maximum-pool-size: 20
      minimum-idle: 10
  jpa:
    hibernate:
      ddl-auto: none